{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>Hood - {{title}}</title>
        {% else %}
        <title>Hood</title>
        {% endif %}

        {% block styles %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock%}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                 });
            </script>
        {% endblock %}
    </body>
</html>
