{% include 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col m12">
            <button class="btn right hoverable modal-trigger" type="button" name="button" style="margin: 20px;" href="#modal1"><i class="material-icons left">add_circle_outline</i> Add</button>
            {% if businesses %}
            <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Owner</th>
                  <th>Email</th>
              </tr>
            </thead>

            <tbody>
                {% for business in businesses %}
                    <tr>
                      <td>{{business.name}}</td>
                      <td>{{business.description}}</td>
                      <td>{{business.user}}</td>
                      <td>{{business.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h1 class="center-align">There are no businesses registered in your Neighborhood</h1>
          {% endif %}
        </div>
          <!-- Modal Structure -->
          <div id="modal1" class="modal" style="max-height: 800px !important;">
            <form action="{%url 'businesses' %}" method='post' enctype="multipart/form-data">
            <div class="modal-content">
              <h4>Add a Business</h4>

                  {% csrf_token %}
                  {{ form }}

            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-success" style="margin-right:20px;">Submit</button>
            </div>
            </form>
          </div>
    </div>
    {% block scripts%}
     <script type="text/javascript">
         $(document).ready(function(){
            $('.modal').modal();
          });
     </script>
    {% endblock %}
{% endblock %}
